<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Stats</title>
  </head>
  <body>
    <h2>Visitor IP Addresses</h2>

    <% for (let i = 0; i < ips.length; i++) { %>
    <li><%= ips[i] %></li>
    <% } %> <% Object.entries(urls).forEach(function ([key, value]) { %>
    <td>url: <%= key %></td>
    <td>incr: <%= value %></td>
    <% }) %>
  </body>
</html>
