<html>
  <head>
    <meta charset='utf-8' />
    <title>main handlebar</title>
    {{{_sections.head}}}
  </head>
  <body>
    {{{body}}}
  </body>
  <script>
  </script>
  {{{_sections.scripts}}}
</html>