html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

#snap-grid {
  width: 600px;
  height: 600px;
  border: 1px solid blue;
  position: relative;
}

.rectangle {
  position: absolute;
  background-color: lightblue;
  cursor: pointer;
}
